.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

assets/.sass-cache
assets/Gemfile.lock
assets/bower_components
assets/npm-debug.log

assets/stylesheets/*
!assets/stylesheets/.gitkeep
