@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

.login {
    .title.row {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        max-width: 500px;     
    }
    .center.row {
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        max-width: 500px;
    }
    
    .tab-title.active a {
        background: $primary-color;
        color: $white;
    }

    .tabs-content {
        border: 1px solid $primary-color;
        -webkit-box-shadow: 0px 1px 1px 1px $primary-color;
        box-shadow: 0px 1px 1px 1px $primary-color;
    }

    .signup-panel , .login-panel{
      padding: 15px;
    }

    .signup-panel i, .login-panel i{
      font-size: 30px;
      line-height: 50px;
      color: #999;
    }

    .signup-panel form input, .signup-panel form span,
    .login-panel form input, .login-panel form span {
      height: 50px;
    }

    .signup-panel .welcome,
    .login-panel .welcome {
      font-size: 26px;
      text-align: center;
      margin-left: 0;
    }

    .signup-panel .button,
    .login-panel .button {
      margin-left: 35%;
    }

    section.active {
        padding-top: 75px !important;
    }

    p.title {
        border-bottom: 1px solid #cccccc !important;
    }
}

.dashboard {
    aside.left-off-canvas-menu {
        min-height: 300px;
    }
}

